<html lang="en">
<head>

</head>
<body>
<div class="navbar navbar-light bg-light" id="nav-bar">
  <a class="head-navbar" >
    Flex ML-IoT
  </a>
</div>


<ul>

  <li><a routerLink='/home' routerLinkActive="active">Home</a></li>
 <li><a routerLink='/preprocess' routerLinkActive="active">Preprocess</a></li>
  <li><a routerLink='/models' routerLinkActive="active">Apply Models</a></li>
</ul>

<p class="bg-info" id="para">This is an application that provides capability to apply custom preprocessing and Machine Learning Models to you raw sensor data.</p>
</body>
<router-outlet></router-outlet>


